<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Choose from city list</title>
</head>
<<span class="citiesList" th:unless="${#lists.isEmpty(citiesList)}">
    <h2>Choose from city list</h2>
        <tr th:each="city : ${citiesList}" >
            <form action="/cities/chooseCity" method="post">
                Name:<input type="text" th:name="name" th:value="${city.name}"  >
                Latitude:<input type="text" th:name="lat"  th:value="${city.lat}" >
                Longitude:<input type="text"  th:name="lon" th:value="${city.lon}" >
                Country:<input type="text" th:name="country" th:value="${city.country}" >
                State:<input type="text" th:name="state" th:value="${city.state}" >
                <input type="hidden" th:attr="name=${_csrf.parameterName},value=${_csrf.token}"/>
                <input type="submit" value="Choose">
            </form>
        </tr>
        </tbody>
    </table>
</span>
    </body>
</html>