<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Choose from city list</title>
</head>
<<div class="citiesList" th:unless="${#lists.isEmpty(citiesList)}">
    <h2>Choose from city list</h2>

        <tr th:if="${citiesList.empty}">
            <td colspan="2"> No cities were found </td>
        </tr>
        <tr th:each="city : ${citiesList}">
            <p>
                <a href="/weather?lat=${city.lat}&lon=${city.lon}"><span th:text="${city.name}">  </span>
                <span th:text="${city.latitude}">  </span>
                <span th:text="${city.longitude}">  </span>
                <span th:text="${city.country}">  </span>
                <span th:text="${city.state}">  </span>
            </a>
            </p>
        </tr>


</div>
</body>
</html>